debug.log
assets/vendor/chartist/scss/.sass-cache
.DS_Store
debug.txt
node_modules
/hooks.log
/gethooks.sh
/.sass-cache
/vendor/smalot
/vendor/tecnickcom
/vendor/wamania
/assets/js/dist/settings.bndl.js
/hooks.sh
