@mixin clearfix {
	*zoom: 1;

	&:before,
	&:after {
		content: '';
		display: table;
		line-height: 0;
	}

	&:after {
		clear: both;
	}
}

// Justify for RWD
@mixin justify($vAlign: top) {
	font-size: 0.1px;
	text-align: justify;

	& > * {
		text-align: left;
		vertical-align: $vAlign;
		display: inline-block;
	}

	&:after{
		content: '';
		width: 100%;
		display: inline-block;
	}
}

// Position element with spacing
@mixin fill($spacing: 0) {
	position: absolute;
	top: $spacing;
	right: $spacing;
	bottom: $spacing;
	left: $spacing;
}

// Contain background image
@mixin contain {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
